@page "/"

<PageTitle>Index</PageTitle>

<h1>@name</h1>


<button @onclick="changeName">Click Me, to get my fullname</button>



<Counter />

<img src="C:\Users\Asus\OneDrive\Pictures\memes\Screenshot 2022-11-05 195022.png"/>

@code {
    private string name = "Shun_m1cx";

    int flag = 0;
    private void changeName(){
        flag++;
        if(flag % 2 == 1){
            name = "Shawn Michael Sudaria";
        }else{
            name = "Shun_m1cx";
        }

        if(flag is 19){
            flag = 0;
        }
    }
}

